<!doctype html>
<html>
<head>
        <title>Home Page</title>
        </head>
        <body>
            <h1> HOME PAGE NEWW </h1>
           
            <form action="/run_strategy" method = "POST">
            <p>Ticker name : <input type = "text" name = "ticker" /></p>
            <p>Start Date (yyyy-mm-dd) : <input type = "text" name = "st_date" /></p>
            <p>End Date (yyyy-mm-dd) : <input type = "text" name = "ed_date" /></p>
            <p>Strategy : <input type = "text" name = "strategy" /></p>
            <P>Parameter 1 :  <input type = "text" name = "param1" /> <p>
            
            <P>Parameter 2 :  <input type = "text" name = "param2" /> <p>
            
            <p><input type = "submit" value = "Submit" /></p>
            
            
            <p>Version 1.1 G</p>
            
            
            
        </body>

</head>
</html>
